<div
  class="game-board"
  {{did-insert this.onInit}}
>
  {{#if (not (equal this.mode "game"))}}
    <div class="game-board-dialog">
      <div class="game-board-dialog-content">
        {{#if (equal this.mode "tokens")}}
          <EditTokenBag @tokens={{this.tokens}} @onChange={{this.onTokensChange}}/>
        {{else if (equal this.mode "deck")}}
          <EditDeck @cards={{this.cards}} @onChange={{this.onDeckChange}}/>
        {{else if (equal this.mode "reorder")}}
          <ReorderDeck @cards={{this.deck}} @onChange={{this.onOrderChange}}/>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="token-area">
    <div class="token-area__actions">
      <Button disabled={{not this.canDrawToken}} @icon="dice" @onClick={{this.onDrawTokenClick}}/>
      <Button disabled={{not this.canDrawNextToken}} @icon="plus-one" @onClick={{this.onDrawNextTokenClick}}/>
      <Button @icon="edit" @onClick={{fn this.setMode "tokens"}}/>
    </div>
    <div class="token-area__tokens">
      {{#each this.drawnTokens key="drawCount" as |token|}}
        <button type="button" {{on "click" (fn this.onTokenClick token)}}>
          <Token @token={{token}}/>
        </button>
      {{/each}}
    </div>
  </div>
  <div class="card-area">
    {{#if this.card}}
      <div class="card-area__card">
        <Card @card={{this.card}} class="card-area__card-image"/>
      </div>
      <div class="card-area__actions">
        <Button @onClick={{fn this.onToPlayCardClick 'current' this.card}}>
          Into Play
        </Button>
        <Button @onClick={{fn this.onToDiscardCardClick 'current' this.card}}>
          To Discard
        </Button>
        <Button @onClick={{fn this.onRemoveCardClick 'current' this.card}}>
          Remove
        </Button>
      </div>
    {{/if}}
  </div>
  <div class="actions-area">
    <Button disabled={{not this.canDrawCard}} @onClick={{this.onDrawCardClick}}>
      Draw ({{this.deck.length}})
    </Button>
    <Button @onClick={{this.onShuffleDeckClick}}>
      Shuffle
    </Button>
    <Button @onClick={{fn this.setMode "reorder"}}>
      Reorder
    </Button>
    <Button disabled={{not this.canTogglePlayArea}} @onClick={{fn this.togglePlayArea true}}>
      Show Play Area ({{this.playDeck.length}})
    </Button>
    <Button @onClick={{fn this.setMode "deck"}}>
      Edit
    </Button>
  </div>
  <div class="play-area {{if this.showPlayArea "is-shown"}}">
    {{#if this.playDeck}}
      <h1 class="play-area__title">In play</h1>
      <div class="play-area__grid">
        {{#each this.playDeck as |card|}}
          <div class="play-area__item">
            <Card class="play-area__card" @card={{card}}/>
            <Button @onClick={{fn this.onToDeckCardClick 'play' card}}>
              To Deck
            </Button>
            <Button @onClick={{fn this.onToDiscardCardClick 'play' card}}>
              To Discard
            </Button>
            <Button @onClick={{fn this.onRemoveCardClick 'play' card}}>
              Remove
            </Button>
          </div>
        {{/each}}
      </div>
    {{/if}}
    {{#if this.discardDeck}}
      <div class="play-area__discard-row">
        <h1 class="play-area__title">Discard</h1>
        <Button @onClick={{this.onDiscardIntoDeckClick}}>
          All to Deck
        </Button>
      </div>
      <div class="play-area__grid">
        {{#each this.discardDeck as |card|}}
          <div class="play-area__item">
            <Card class="play-area__card" @card={{card}}/>
            <Button @onClick={{fn this.onToDeckCardClick 'play' card}}>
              To Deck
            </Button>
            <Button @onClick={{fn this.onToPlayCardClick 'play' card}}>
              Into Play
            </Button>
            <Button @onClick={{fn this.onRemoveCardClick 'play' card}}>
              Remove
            </Button>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</div>
