<div class="game-board">
  {{#if (not (equal this.mode "game"))}}
    <div class="game-board-dialog">
      <div class="game-board-dialog-content">
        {{#if (equal this.mode "tokens")}}
          <EditTokenBag @tokens={{this.tokens}} @onChange={{this.onTokensChange}}/>
        {{else if (equal this.mode "deck")}}
          <EditDeck @cards={{this.cards}} @onChange={{this.onDeckChange}}/>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="token-area">
    <div class="token-area__actions">
      <Button disabled={{not this.canDrawToken}} @icon="dice" @onClick={{this.onDrawTokenClick}}/>
      <Button disabled={{not this.canDrawNextToken}} @icon="plus-one" @onClick={{this.onDrawNextTokenClick}}/>
      <Button @icon="edit" @onClick={{fn this.setMode "tokens"}}/>
    </div>
    <div class="token-area__tokens">
      {{#each this.drawnTokens key="drawCount" as |token|}}
        <button type="button" {{on "click" (fn this.onTokenClick token)}}>
          <Token @token={{token}}/>
        </button>
      {{/each}}
    </div>
  </div>
  <div class="card-area">
    <Button disabled={{not this.canDrawCard}} @onClick={{this.onDrawCardClick}}>
      Draw
    </Button>
    <Button @onClick={{this.onShuffleDeckClick}}>
      Shuffle
    </Button>
    <Button @onClick={{fn this.setMode "reorder"}}>
      Reorder
    </Button>
    <Button @onClick={{fn this.setMode "deck"}}>
      Edit
    </Button>
    {{#if this.card}}
      <div class="card-area__card">
        <Card @card={{this.card}} class="card-area__card-image"/>
      </div>
      <Button @onClick={{fn this.onToPlayCardClick 'current' this.card}}>
        Play
      </Button>
      <Button @onClick={{fn this.onToDiscardCardClick 'current' this.card}}>
        Discard
      </Button>
      <Button @onClick={{fn this.onRemoveCardClick 'current' this.card}}>
        Remove
      </Button>
    {{/if}}
  </div>
  <div class="play-area">
    {{#if this.playDeck}}
      <h1>In play</h1>
      {{#each this.playDeck as |card|}}
        <div class="play-area__item">
          <Card class="play-area__card" @card={{card}}/>
          <Button @onClick={{fn this.onToDeckCardClick 'play' card}}>
            Deck
          </Button>
          <Button @onClick={{fn this.onToDiscardCardClick 'play' card}}>
            Discard
          </Button>
          <Button @onClick={{fn this.onRemoveCardClick 'play' card}}>
            Remove
          </Button>
        </div>
      {{/each}}
    {{/if}}
    {{#if this.discardDeck}}
      <h1>Discard</h1>
      {{#each this.discardDeck as |card|}}
        <div class="play-area__item">
          <Card class="play-area__card" @card={{card}}/>
          <Button @onClick={{fn this.onToDeckCardClick 'play' card}}>
            Deck
          </Button>
          <Button @onClick={{fn this.onToPlayCardClick 'play' card}}>
            Play
          </Button>
          <Button @onClick={{fn this.onRemoveCardClick 'play' card}}>
            Remove
          </Button>
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>
