<div class="game-board">
  {{#if this.isEditMode}}
    <div class="game-board-dialog">
      <div class="game-board-dialog-content">
        {{#if this.isEditTokensMode}}
          <EditTokenBag @tokens={{this.tokens}} @onChange={{this.onTokensChange}}/>
        {{/if}}
      </div>
    </div>
  {{/if}}
  <div class="token-area">
    <div class="token-area__actions">
      <Button disabled={{not this.canDrawToken}} @icon="dice" @onClick={{this.onDrawTokenClick}}/>
      <Button disabled={{not this.canDrawNextToken}} @icon="plus-one" @onClick={{this.onDrawNextTokenClick}}/>
      <Button @icon="edit" @onClick={{fn this.setMode "tokens"}}/>
    </div>
    <div class="token-bag-area-tokens">
      {{#each this.drawnTokens key="drawCount" as |token|}}
        <button type="button" {{on "click" (fn this.onTokenClick token)}}>
          <Token @token={{token}}/>
        </button>
      {{/each}}
    </div>
  </div>
</div>
