<button
  class="button"
  theme={{if @icon "icon" "default"}}
  type="button"
  ...attributes
  {{on "click" @onClick}}
>
  {{#if @icon}}
    {{svg-jar (concat "ic-" @icon) class="button-img"}}
  {{else}}
    {{yield}}
  {{/if}}
</button>
