<div class="token-bag-area" ...attributes>
  <div class="token-bag-area-actions">
    <Button disabled={{not this.canDraw}} @icon="dice" @onClick={{this.onDrawNewClick}}/>
    <Button disabled={{not this.canDrawNext}} @icon="plus-one" @onClick={{this.onOneMoreClick}}/>
    <Button @icon="edit" @onClick={{@onEditClick}}/>
  </div>
  <div class="token-bag-area-tokens">
    {{#each this.drawPile as |token|}}
      <button type="button" {{on "click" (fn this.onTokenClick token)}}>
        <Token @token={{token}}/>
      </button>
    {{/each}}
  </div>
</div>
