<div class="root">
  {{#unless this.isGamePhase}}
    <div class="header">
      {{#unless this.isEncounterDeckPhase}}
        <button class="button" type="button" {{on "click" this.onBackClick}}>
          Back
        </button>
      {{/unless}}
      <h1>{{this.title}}</h1>
      <button class="button" type="button" {{on "click" this.onNextClick}}>
        Next
      </button>
    </div>
  {{/unless}}
  {{#if this.isEncounterDeckPhase}}
    <input
      class="input"
      type="text"
      placeholder="Search"
      value={{this.search}}
      {{on "input" this.onSearchChange}}
    />
    <div class="encounter-root">
      <div class="encounter-column">
        <ul>
          {{#each this.cardSets key="name" as |set|}}
            <li class="encounter-set">
              <div class="encounter-li">
                <h2 class="encounter-set-name">{{set.name}}</h2>
                <button class="button-icon" type="button" {{on "click" (fn this.onAddSetClick set)}}>
                  {{inline-svg "assets/images/ic-plus.svg"}}
                </button>
              </div>
              <ul class="encounter-card-parent">
                {{#each set.cards key="id" as |card|}}
                  <li>
                    <button class="button-wrapper encounter-li encounter-card-name" type="button" {{on "click" (fn this.onAddCardClick card)}}>
                      <img class="encounter-img" src={{card.frontImg}} alt={{card.name}}/>
                      {{card.name}}
                    </button>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="encounter-column">
        <ul>
          {{#each this.encounterCardSets key="name" as |set|}}
            <li class="encounter-set">
              <div class="encounter-li">
                <h2 class="encounter-set-name">{{set.name}}</h2>
                <button class="button-icon" type="button" {{on "click" (fn this.onRemoveSetClick set)}}>
                  {{inline-svg "assets/images/ic-minus.svg"}}
                </button>
              </div>
              <ul class="encounter-card-parent">
                {{#each set.cards as |card|}}
                  <li class="encounter-deck-card-root">
                    <img class="encounter-img" src={{card.frontImg}} alt={{card.name}}/>
                    <div class="encounter-card-name encounter-deck-card-name">{{card.name}}</div>
                    <button class="button-amount" type="button" {{on "click" (fn this.onDecrementCardClick card)}}>
                      {{inline-svg "assets/images/ic-minus" class="encounter-deck-minus"}}
                    </button>
                    <div class="encounter-deck-amount">{{card.amount}}</div>
                    <button class="button-amount" type="button" {{on "click" (fn this.onIncrementCardClick card)}}>
                      {{inline-svg "assets/images/ic-plus" class="encounter-deck-plus"}}
                    </button>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{!-- Assemble deck ui --}}
  {{else if this.isTokensBagPhase}}
  {{!-- Assemble tokens --}}
  {{else}}
    {{!-- <TokenBag @tokens={{this.tokens}}/> --}}
  {{/if}}
</div>
